td {
    text-align: center;
    vertical-align: middle !important;
}
hr {
    margin: auto;
}
.pageInputLimit {
    width: 10rem;
}

.tdTime {
    min-width: 20rem;
}

.list-group-item {
    word-wrap: break-word;
}